<p id="notice"><%= notice %></p>

<p>
  <b>Integer:</b>
  <%= @awards_program_species.integer %>
</p>

<p>
  <b>String:</b>
  <%= @awards_program_species.string %>
</p>


<%= link_to 'Edit', edit_awards_program_species_path(@awards_program_species) %> |
<%= link_to 'Back', awards_program_species_index_path %>
