<p>
  <b>Notification type:</b>
  <%= @notification.notification_type.name %>
</p>

<p>
  <b>Message:</b>
  <%= raw(@notification.message) %>
</p>

<p>
  <b>Created by:</b>
  <% if @notification.user.member %>
    <%= @notification.user.member.name %>
  <% else %>
    Administration
  <% end %>
</p>


<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>

