<%= will_paginate @notifications %>
<fieldset>
<div class="body-container">
    <% @notifications.each do |n| %>
      <div class="post">
        <% if session[:user_id] %>
          <%= link_to n.title, n %>
        <% else %>
          <%= n.title %>
        <% end %>
      </div>
      <%= raw(n.message) %><br />
      <br />
      Created by:
      <% if n.user && n.user.member %>
         <%= n.user.member.executive_member.executive_position.position_name %>
      <% else %>
        Administration
      <% end %>
      
      <hr />
    <% end %>
    
</div>
</fieldset>
<%= will_paginate @notifications %>
