<div class="leftside">  
  <div>
    <label>Aquarium Size (inches):</label>
    <%= f.text_field :aquarium_length, :size => 4 %>&nbsp;L
    <%= f.text_field :aquarium_width, :size => 4 %>&nbsp;W
    <%= f.text_field :aquarium_height, :size => 4 %>&nbsp;H
  </div>
  <div>
 		<%= f.label :temperature %>	
 		<%= f.text_field :temperature %>	
  </div>
  <div>
  	<%= f.label :lighting_type %>	
 		<%= f.text_field :lighting_type %>
  </div>
  <div>
  	<%= f.label :spawn_planned %>	
 		<%= f.check_box :spawn_planned, :checked_value => "true", :unchecked_value => "false" %> &nbsp; if YES please describe in the comment box    
  </div>
</div>

<div class="rightside">
  <div>
   pH &nbsp;<%= f.text_field :ph, :size => 4 %> 
    DH &nbsp;<%= f.text_field :dh, :size => 4 %> 
  </div>

  <div>
  	<%= f.label :filter_type %>	
 		<%= f.text_field :filter_type %>
  </div>
</div>
<div class="clear"></div>
<hr />
<div>
	<%= f.label :food_for_parents %>	
 	<%= f.text_field :food_for_parents, :size => 45 %>
</div>

<div>
	<%= f.label :food_for_fry %>	
 	<%= f.text_field :food_for_fry, :size => 45 %>
</div>
