<div class="leftside">  
  <div>
  	<%= f.label :latin_name %>
    <%= f.text_field :latin_name, :size => 45 %>
  </div>

  <div>
  	<%= f.label :date_of_spawn %>
    <%= f.text_field :date_of_spawn %>
  </div>

  <div>
  	<%= f.label :date_of_hatch %>
    <%= f.text_field :date_of_hatch %>
  </div>

  <div>
  	<%= f.label :number_of_eggs %>
    <%= f.text_field :number_of_eggs, :size => 4 %>   
  </div>

  <div>
  	<%= f.label :publication_cited %>
    <%= f.text_field :publication_cited, :size => 45 %> 
  </div>

  <div>
  	<%= f.label :obtained_from %>
    <%= f.text_field :obtained_from, :size => 45 %>
  </div>
</div>

<div class="rightside">
  <div>
  	<%= f.label :common_name %>
    <%= f.text_field :common_name, :size => 45 %>
  </div>

  <div>
  	<%= f.label :spawn_site %>
    <%= f.text_field :spawn_site %>   
  </div>

  <div>
  	<%= f.label :spawn_type %>
    <%= f.text_field :spawn_type %>
  </div>

  <div>
  	<%= f.label :number_of_fry %>
    <%= f.text_field :number_of_fry, :size => 4 %>
  </div>
</div>
