<!DOCTYPE html>
<html>


<head>
  <title>The Aquarium Society of Winnipeg</title>
  <%= stylesheet_link_tag "asw", :media => "screen" %>
  <%= stylesheet_link_tag "scaffold", :media => "screen" %>
  <%= stylesheet_link_tag "asw_print", :media => "print" %>
  <%= stylesheet_link_tag "jquery-ui-1.8.8.custom", :media => "screen" %>
  <%= stylesheet_link_tag "ddaccordion", :media => "screen" %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  
  <script>
    
    ddaccordion.init({ //top level headers initialization
    	headerclass: "expandable", //Shared CSS class name of headers group that are expandable
    	contentclass: "categoryitems", //Shared CSS class name of contents group
    	revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
    	mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
    	collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
    	defaultexpanded: [0], //index of content(s) open by default [index1, index2, etc]. [] denotes no content
    	onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
    	animatedefault: false, //Should contents open by default be animated into view?
    	persiststate: true, //persist state of opened contents within browser session?
    	toggleclass: ["", "openheader"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
    	togglehtml: ["prefix", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
    	animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
    	oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
    		//do nothing
    	},
    	onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
    		//do nothing
    	}
    })
    
    ddaccordion.init({ //2nd level headers initialization
    	headerclass: "subexpandable", //Shared CSS class name of sub headers group that are expandable
    	contentclass: "subcategoryitems", //Shared CSS class name of sub contents group
    	revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click" or "mouseover
    	mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
    	collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
    	defaultexpanded: [], //index of content(s) open by default [index1, index2, etc]. [] denotes no content
    	onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
    	animatedefault: false, //Should contents open by default be animated into view?
    	persiststate: true, //persist state of opened contents within browser session?
    	toggleclass: ["opensubheader", "closedsubheader"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
    	togglehtml: ["none", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
    	animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
    	oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
    		//do nothing
    	},
    	onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
    		//do nothing
    	}
    })
  </script>

</head>
<body>
  <div id = "print_display_none">
    <div id="banner">
      <%= image_tag("aswbanner.jpg")%>
    </div>  
  </div>
  <div id="columns">
  	<div id="print_display_none""
		  <div id="leftsidebar"> 
		    <div class="arrowlistmenu">
          <h3 class="menuheader"><%= link_to "Home", root_path %></h3>
          <h3 class="menuheader"><%= link_to "Meeting Info", meetings_path %></h3>
          <h3 class="menuheader"><%= link_to "Library Books", librarybooks_path %></h3>
          <h3 class="menuheader expandable">BAP</h3>
          <ul class="categoryitems">
            <li><%= link_to "Overview", overview_baps_path %></li>
            <li>Species List</li>
            <li>Form</li>
            <% if session[:user] && session[:user].member %>
              <li><%= link_to "My Baps", baps_path %></li>
            <% end %>
          </ul>
          <h3 class="menuheader expandable">Hap</h3>
          <ul class="categoryitems">
            <li><%= #link_to "Overview", overview_haps_path %></li>
            <li>Species List</li>
            <li>Form</li>
            <% if session[:user] && session[:user].member %>
              <li><%= link_to "My Haps", haps_path %></li>
            <% end %>
          </ul>
          <h3 class="menuheader"><%= link_to "Newsletter", newsletters_path %></h3>
          <h3 class="menuheader">Membership</h3>
          <h3 class="menuheader"><%= link_to "Dealers", dealers_path %></h3>
          <h3 class="menuheader">About</h3>
          <h3 class="menuheader">Contact</h3>
          <% if session[:user_id] %> 
            <% if session[:user].administrator %>
              <h3 class="menuheader expandable">Administration</h3>
              <ul class="categoryitems">
                <li <a href="#" class="subexpandable">Award Programs</a>
                  <ul class="subcategoryitems", style="margin-left: 15px" >
                    <li><%= link_to "Verify Baps", verify_baps_path %></li>
                    <li>Verify Hap</li>
                    <li><%= link_to "Categories", awards_program_categories_path %></li>
                    <li><%= link_to "Classes", awards_program_classes_path %></li>
                    <li><%= link_to "Species", awards_program_species_index_path %></li>
                  </ul>
                </li>
                <li><%= link_to "Executive Members", executive_members_path %></li>
                <li><%= link_to "Executive Positions", executive_positions_path %></li>
                <li><%= link_to "Members", members_path %></li>
                <li><%= link_to "Notifications", notifications_path %></li>
                <li><%= link_to "Users", users_path %></li>
            <% end %>
            </ul>
            <h3 class="menuheader"><%= link_to "Logout", admin_logout_path %></h3>
          <% else %>
            <h3 class="menuheader"><%= link_to "Login", admin_login_path %></h3>
          <% end %>
        </div>
		  </div>
		</div>
    
    <div id="main">
      <% if flash[:notice] %>
          <div id="notice"><%= flash[:notice] %> </div> 
      <% end %>
      <div class='asw-form'>        
        <%= yield :layout %>        
      </div>
    </div>
  </div>
  
</body>
</html>
