<%= form_for(@member) do |f| %>
  <%= render "shared/error_messages", :target => @member %>

  <div class="field">
    <%= f.label :name %><%= mark_required(@member, :name) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><%= mark_required(@member, :address) %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :province_id %><%= mark_required(@member, :province_id) %><br />
    <%= 
      @provinces = Province.all
      f.collection_select(:province_id, @provinces, :id, :name)
    %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><%= mark_required(@member, :phone_number) %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :postal_code %><%= mark_required(@member, :postal_code) %><br />
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :email %><%= mark_required(@member, :email) %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
